# dependencies (bun install)
node_modules
.pnpm-store

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.npmrc

# caches
.eslintcache
.cache
.tanstack
*.tsbuildinfo

# IntelliJ-based IDEs
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/prettier.xml
!.idea/vcs.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/httpRequests/
.idea/**/contentModel.xml
.zed

# Finder (MacOS) folder config
.DS_Store

notes
