node_modules
.npmrc
.pnpm-store

out
dist
build
lib
.next
.nuxt
.svelte-kit
.turbo
.nx
*.tgz

coverage
.nyc_output
*.lcov

logs
*.log
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
.parcel-cache
.rollup.cache
.rpt2_cache
.tanstack
*.tsbuildinfo

tmp
temp
*.tmp

.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/prettier.xml
!.idea/vcs.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/httpRequests/
.idea/**/contentModel.xml

.DS_Store

# Zensical Build Output
packages/aikit/site

.vercel

.claude
.agents

.notes
.scratch
.repos
.codework
